body {
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 38px;
}

.content {
  margin: 2%;
}

.header-title {
  margin-bottom: -10px;
}

.card {
  padding: 5%;
  margin: 2%;
}

.nav-button {
  width: 25% !important;
}

.navbutton:hover {
  background-color: white;
}
